@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
    .header h2 {
        font-size: 20px;
        font-weight: 700;
    }
    .header a {
        font-size: 15px;
        font-weight: 500;
        margin: 0 15px;
    }
    .header-end button {
        width: 128px;
        height: 49px;
        font-size: 15px;
        font-weight: 500;
    }
    .frist-btn {
        width: 227px;
        height: 50px;
        font-size: 18px;
        font-weight: 500;
    }
    .hero-left h1 {
        font-size: 55px;
        font-weight: 600;
    }
    .hero-left p {
        font-size: 25px;
        font-weight: 500;
    }
    .second-btn {
        width: 263px;
        height: 91px;
        font-size: 25px;
        font-weight: 600;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
    .avatar img {
        width: 93%;
    }
    .about-info h1 {
        font-size: 45px;
        font-weight: 500;
    }
    .Alpanasap h5 {
        font-size: 33px;
        font-weight: 500;
    }
    .Alpanasap p {
        font-size: 25px;
        font-weight: 400;
    }
    .about-text {
        font-size: 22px;
        font-weight: 500;
    }
    .block {
        width: 1240px;
        height: 581px;
    }
    .block h1 {
        font-size: 45px;
        font-weight: 500;
    }
    .block p {
        font-size: 30px;
        font-weight: 400;
    }
    .block button {
        width: 225px;
        height: 79px;
        font-size: 20px;
        font-weight: 600;
    }
    .stars img {
        gap: 25px;
        width: 45px;
    }
    .subscribe h1 {
        font-size: 55px;
        font-weight: 600;
    }
    .search input {
        width: 800px;
        height: 100px;
        font-size: 22px;
    }
    .search input::placeholder {
        font-size: 24px;
        font-weight: 500;
    }
    .search button {
        width: 290px;
        height: 80px;
        font-size: 25px;
        font-weight: 600;
    }
    .footer a {
        font-size: 15px;
        font-weight: 500;
        margin: 0 15px;
    }
    .footer-end button {
        width: 128px;
        height: 49px;
        font-size: 15px;
        font-weight: 500;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
    #header {
        padding: 15px 0;
    }
    .header h2 {
        font-size: 18px;
        font-weight: 600;
    }
    .header a {
        font-size: 10px;
        font-weight: 400;
        margin: 0 15px;
    }
    .header-end button {
        width: 100px;
        height: 35px;
        font-size: 10px;
        font-weight: 400;
    }
    .frist-btn {
        width: 150px;
        height: 40px;
        font-size: 13px;
        font-weight: 400;
    }
    .hero-left h1 {
        font-size: 45px;
        font-weight: 500;
        line-height: 52.5px;
    }
    .hero-left p {
        font-size: 20px;
        font-weight: 400;
    }
    .second-btn {
        width: 180px;
        height: 50px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 20px;
    }
    .hero img {
        width: 330px;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
    .stars img {
        gap: 20px;
        width: 40px;
    }
    .avatar img {
        width: 93%;
    }
    .about-info h1 {
        font-size: 40px;
        font-weight: 500;
    }
    .about-img {
        width: 480px;
    }
    .Alpanasap h5 {
        font-size: 33px;
        font-weight: 500;
    }
    .Alpanasap p {
        font-size: 25px;
        font-weight: 400;
    }
    .about-text {
        font-size: 22px;
        font-weight: 500;
    }
    .block {
        width: 1000px;
        height: 480px;
    }
    .block h1 {
        font-size: 40px;
        font-weight: 500;
    }
    .block p {
        font-size: 28px;
        font-weight: 400;
    }
    .block button {
        width: 224px;
        height: 70px;
        font-size: 20px;
        font-weight: 600;
    }
    .subscribe h1 {
        font-size: 51px;
        font-weight: 590;
    }
    .search input {
        width: 790px;
        height: 95px;
        font-size: 22px;
    }
    .search input::placeholder {
        font-size: 20px;
        font-weight: 450;
    }
    .search button {
        width: 270px;
        height: 70px;
        font-size: 25px;
        font-weight: 600;
        right: 130px;
    }
    .footer a {
        font-size: 15px;
        font-weight: 500;
        margin: 0 15px;
    }
    .footer-end button {
        width: 128px;
        height: 49px;
        font-size: 15px;
        font-weight: 500;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
    #header {
        padding: 15px 0;
    }
    .header h2 {
        font-size: 18px;
        font-weight: 600;
    }
    .header a {
        font-size: 10px;
        font-weight: 400;
        margin: 0 15px;
    }
    .header-end button {
        width: 100px;
        height: 35px;
        font-size: 10px;
        font-weight: 400;
    }
    .frist-btn {
        width: 150px;
        height: 40px;
        font-size: 13px;
        font-weight: 400;
    }
    .hero-left h1 {
        font-size: 45px;
        font-weight: 500;
        line-height: 52.5px;
    }
    .hero-left p {
        font-size: 20px;
        font-weight: 400;
    }
    .second-btn {
        width: 180px;
        height: 50px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 20px;
    }
    .hero img {
        width: 320px;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
    .avatar img {
        width: 93%;
    }
    .about-info {
        margin-left: 70px;
        gap: 55px;
    }
    .stars img {
        gap: 18px;
        width: 38px;
    }
    .about-info h1 {
        font-size: 38px;
        font-weight: 500;
        line-height: 48.5px;
    }
    .Alpanasap {
        gap: 8px;
    }
    .hero-left {
        gap: 20px;
    }
    .about-img {
        width: 480px;
    }
    .Alpanasap h5 {
        font-size: 33px;
        font-weight: 500;
    }
    .Alpanasap p {
        font-size: 25px;
        font-weight: 400;
    }
    .about-text {
        font-size: 22px;
        font-weight: 500;
    }
    .block {
        width: 850px;
        height: 460px;
    }
    .block h1 {
        font-size: 38px;
        font-weight: 500;
    }
    .block p {
        font-size: 28px;
        font-weight: 400;
    }
    .block button {
        width: 210px;
        height: 65px;
        font-size: 20px;
        font-weight: 600;
    }
    .subscribe h1 {
        font-size: 48px;
        font-weight: 580;
    }
    .search input {
        width: 700px;
        height: 90px;
        font-size: 20px;
    }
    .search input::placeholder {
        font-size: 18px;
        font-weight: 440;
    }
    .search button {
        width: 260px;
        height: 65px;
        font-size: 22px;
        font-weight: 580;
        right: 120px;
    }
    .footer a {
        font-size: 15px;
        font-weight: 500;
        margin: 0 15px;
    }
    .footer-end button {
        width: 124px;
        height: 45px;
        font-size: 15px;
        font-weight: 500;
    }

    #subscribe {
        padding: 89px 0;
    }
    .footer h2 {
        font-size: 25px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 90%;
    }
    #header {
        padding: 11px 0;
    }
    .header h2 {
        font-size: 15px;
        font-weight: 600;
    }
    .header a {
        font-size: 12px;
        font-weight: 400;
        margin: 0 12px;
    }
    .header-end button {
        width: 95px;
        height: 35px;
        font-size: 10px;
        font-weight: 400;
    }
    .frist-btn {
        width: 140px;
        height: 38px;
        font-size: 13px;
        font-weight: 400;
    }
    .hero-left h1 {
        font-size: 43px;
        font-weight: 500;
        line-height: 51.5px;
    }
    .hero-left p {
        font-size: 18px;
        font-weight: 400;
    }
    .second-btn {
        width: 170px;
        height: 48px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 18px;
    }
    .hero img {
        width: 310px;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
    .avatar img {
        width: 93%;
    }
    .about-info {
        margin-left: 65px;
        gap: 50px;
    }
    .stars img {
        gap: 15px;
        width: 35px;
    }
    .about-info h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 47.5px;
    }
    .Alpanasap {
        gap: 7px;
    }
    .hero-left {
        gap: 19px;
    }
    .about-img {
        width: 470px;
    }
    .Alpanasap h5 {
        font-size: 32px;
        font-weight: 490;
    }
    .Alpanasap p {
        font-size: 24px;
        font-weight: 390;
    }
    .about-text {
        font-size: 21px;
        font-weight: 490;
    }
    .block {
        width: 840px;
        height: 450px;
    }
    .block h1 {
        font-size: 37px;
        font-weight: 500;
    }
    .block p {
        font-size: 27px;
        font-weight: 400;
    }
    .block button {
        width: 200px;
        height: 60px;
        font-size: 20px;
        font-weight: 600;
    }
    .subscribe h1 {
        font-size: 48px;
        font-weight: 580;
    }
    .search input {
        width: 680px;
        height: 85px;
        font-size: 19px;
    }
    .search input::placeholder {
        font-size: 17px;
        font-weight: 438;
    }
    .search button {
        width: 250px;
        height: 60px;
        font-size: 21px;
        font-weight: 580;
        right: 110px;
    }
    .footer a {
        font-size: 14px;
        font-weight: 500;
        margin: 0 14px;
    }
    .footer-end button {
        width: 120px;
        height: 41px;
        font-size: 14px;
        font-weight: 500;
    }

    #subscribe {
        padding: 80px 0;
    }
    .footer h2 {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    #header {
        padding: 10px 0;
    }
    .header h2 {
        font-size: 12px;
        font-weight: 590;
    }
    .header a {
        font-size: 12px;
        font-weight: 400;
        margin: 0 12px;
    }
    .header-end button {
        width: 90px;
        height: 31px;
        font-size: 10px;
        font-weight: 400;
    }
    .frist-btn {
        width: 135px;
        height: 35px;
        font-size: 12px;
        font-weight: 395;
    }
    .hero-left h1 {
        font-size: 34px;
        font-weight: 490;
        line-height: 45.5px;
    }
    .hero-left p {
        font-size: 15px;
        font-weight: 390;
        line-height: 30.5px;
    }
    .second-btn {
        width: 160px;
        height: 45px;
        font-size: 15px;
        font-weight: 490;
        border-radius: 15px;
    }
    .hero img {
        width: 309px;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
    .avatar img {
        width: 93%;
    }
    .about-info {
        margin-left: 40px;
        gap: 30px;
    }
    .stars img {
        gap: 12px;
        width: 30px;
    }
    .about-info h1 {
        font-size: 30px;
        font-weight: 495;
        line-height: 40.5px;
    }
    .Alpanasap {
        gap: 5px;
    }
    .hero-left {
        gap: 17px;
    }
    .about-img {
        width: 360px;
    }
    .Alpanasap h5 {
        font-size: 30px;
        font-weight: 485;
    }
    .Alpanasap p {
        font-size: 22px;
        font-weight: 385;
    }
    .about-text {
        font-size: 20px;
        font-weight: 485;
    }
    .block {
        width: 650px;
        height: 390px;
    }
    .block h1 {
        font-size: 35px;
        font-weight: 490;
    }
    .block p {
        font-size: 25px;
        font-weight: 390;
    }
    .block button {
        width: 185px;
        height: 55px;
        font-size: 18px;
        font-weight: 590;
        border-radius: 20px;
    }
    .subscribe h1 {
        font-size: 45px;
        font-weight: 570;
    }
    .search input {
        width: 400px;
        height: 80px;
        font-size: 15px;
    }
    .search input::placeholder {
        font-size: 15px;
        font-weight: 420;
    }
    .search button {
        width: 150px;
        height: 50px;
        font-size: 15px;
        font-weight: 570;
        right: 150px;
        border-radius: 16px;
    }
    #footer {
        padding: 20px 0;
    }
    .footer a {
        font-size: 13px;
        font-weight: 490;
        margin: 0 12px;
    }
    .footer-end button {
        width: 100px;
        height: 35px;
        font-size: 13px;
        font-weight: 490;
        border-radius: 90px;
    }

    #subscribe {
        padding: 70px 0;
    }
    .footer h2 {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }
    #header {
        padding: 10px 0;
    }
    .header h2 {
        font-size: 12px;
        font-weight: 590;
    }
    .header a {
        font-size: 12px;
        font-weight: 400;
        margin: 0 12px;
    }
    .header-end button {
        width: 60px;
        height: 24px;
        font-size: 10px;
        font-weight: 400;
        border-radius: 40px;
    }
    .frist-btn {
        width: 120px;
        height: 30px;
        font-size: 10px;
        font-weight: 375;
        border-radius: 10px;
    }
    .hero-left h1 {
        font-size: 25px;
        font-weight: 355;
        line-height: 33.5px;
        letter-spacing: 2px;
    }
    .hero-left p {
        font-size: 10px;
        font-weight: 385;
        line-height: 28.5px;
    }
    .second-btn {
        width: 100px;
        height: 35px;
        font-size: 10px;
        font-weight: 490;
        border-radius: 10px;
    }
    .hero img {
        width: 280px;
    }
    .avatar {
        width: 50px;
        height: 50px;
    }
    .avatar img {
        width: 93%;
    }
    .about-info {
        margin-left: 25px;
        gap: 11px;
    }
    .stars img {
        gap: 5px;
        width: 25px;
    }
    .about-info h1 {
        font-size: 25px;
        font-weight: 490;
        line-height: 30.5px;
    }
    .Alpanasap {
        gap: 4px;
    }
    .hero-left {
        gap: 15px;
    }
    .about-img {
        width: 250px;
    }
    .Alpanasap h5 {
        font-size: 22px;
        font-weight: 480;
    }
    .Alpanasap p {
        font-size: 14px;
        font-weight: 370;
    }
    .about-text {
        font-size: 15px;
        font-weight: 470;
    }
    .block {
        width: 500px;
        height: 240px;
        border-radius: 30px;
    }
    .block h1 {
        font-size: 28px;
        font-weight: 480;
    }
    .block p {
        font-size: 20px;
        font-weight: 380;
    }
    .block button {
        width: 140px;
        height: 45px;
        font-size: 15px;
        font-weight: 590;
        border-radius: 15px;
    }
    .subscribe h1 {
        font-size: 35px;
        font-weight: 550;
    }
    .search input {
        width: 300px;
        height: 75px;
        font-size: 12px;
        border-radius: 20px;
    }
    .search input::placeholder {
        font-size: 14px;
        font-weight: 410;
    }
    .search button {
        width: 100px;
        height: 40px;
        font-size: 10px;
        font-weight: 550;
        right: 110px;
        border-radius: 12px;
    }
    #footer {
        padding: 10px 0;
    }
    .footer a {
        font-size: 10px;
        font-weight: 400;
        margin: 0 8px;
    }
    .footer-end button {
        width: 60px;
        height: 25px;
        font-size: 10px;
        font-weight: 470;
        border-radius: 90px;
    }

    #subscribe {
        padding: 70px 0;
    }
    .footer h2 {
        font-size: 20px;
    }
}

@media (max-width: 452px) {
    .container {
        width: 90%;
    }
    #header {
        padding: 5px 0;
    }
    .header h2 {
        font-size: 10px;
        font-weight: 600;
    }
    .header a {
        font-size: 9px;
        font-weight: 350;
        margin: 1px 5px;
    }
    .header-end button {
        width: 40px;
        height: 15px;
        font-size: 8px;
        font-weight: 250;
        border-radius: 10px;
    }
    .frist-btn {
        width: 80px;
        height: 20px;
        font-size: 7px;
        font-weight: 250;
        border-radius: 7px;
    }
    .hero-left h1 {
        font-size: 25px;
        font-weight: 600px;
        line-height: 25.5px;
        letter-spacing: 1px;
    }
    .hero-left p {
        font-size: 10px;
        font-weight: 380;
        line-height: 20.5px;
    }
    .second-btn {
        width: 80px;
        height: 28px;
        font-size: 10px;
        font-weight: 480;
        border-radius: 10px;
        
    }
    .hero img {
        width: 180px;
    }
    .avatar {
        width: 40px;
        height: 40px;
    }
    .avatar img {
        width: 93%;
    }
    .about-info {
        margin-left: 15px;
        gap: 8px;
    }
    .stars img {
        gap: 1px;
        width: 20px;
    }
    .about-info h1 {
        font-size: 18px;
        font-weight: 550;
        line-height: 25.5px;
    }
    .Alpanasap {
        gap: 2px;
    }
    .hero-left {
        gap: 10px;
    }
    .about-img {
        width: 200px;
    }
    .Alpanasap h5 {
        font-size: 19px;
        font-weight: 470;
    }
    .Alpanasap p {
        font-size: 8px;
        font-weight: 350;
    }
    .about-text {
        font-size: 15px;
        font-weight: 450;
    }
    .block {
        width: 350px;
        height: 230px;
        border-radius: 30px;
    }
    .block h1 {
        font-size: 20px;
        font-weight: 470;
    }
    .block p {
        font-size: 15px;
        font-weight: 370;
    }
    .block button {
        width: 130px;
        height: 40px;
        font-size: 12px;
        font-weight: 580;
        border-radius: 12px;
    }
    .subscribe h1 {
        font-size: 25px;
        font-weight: 540;
    }
    .search input {
        width: 195px;
        height: 50px;
        font-size: 10px;
        border-radius: 15px;
    }
    .search input::placeholder {
        font-size: 10px;
        font-weight: 400;
    }
    .search button {
        width: 70px;
        height: 28px;
        font-size: 8px;
        font-weight: 500;
        right: 90px;
        border-radius: 10px;
    }
    #footer {
        padding: 7px 0;
    }
    .footer a {
        font-size: 10px;
        font-weight: 300;
        margin: 0 8px;
    }
    .footer-end button {
        width: 50px;
        height: 20px;
        font-size: 8px;
        font-weight: 460;
        border-radius: 80px;
    }

    #subscribe {
        padding: 60px 0;
    }
    .footer h2 {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .container {
        width: 90%;
    }
    #header {
        padding: 4px 0;
    }
    .header h2 {
        font-size: 10px;
        font-weight: 600;
    }
    .header a {
        font-size: 7px;
        font-weight: 350;
        margin: 1px 3px;
    }
    .header-end button {
        width: 30px;
        height: 12px;
        font-size: 6px;
        font-weight: 240;
        border-radius: 8px;
    }
    .frist-btn {
        width: 70px;
        height: 15px;
        font-size: 6px;
        font-weight: 240;
        border-radius: 6px;
    }
    .hero-left h1 {
        font-size: 19px;
        font-weight: 550px;
        line-height: 25.5px;
        letter-spacing: 1px;
    }
    .hero-left p {
        font-size: 6px;
        font-weight: 370;
        line-height: 10.5px;
    }
    .second-btn {
        width: 60px;
        height: 20px;
        font-size: 10px;
        font-weight: 470;
        border-radius: 8px;
    }
    .hero img {
        width: 160px;
    }
    .avatar {
        width: 35px;
        height: 35px;
    }
    .avatar img {
        width: 93%;
    }
    .about-info {
        margin-left: 20px;
        gap: 15px;
    }
    .stars img {
        gap: 10px;
        width: 10px;
    }
    .about-info h1 {
        font-size: 25px;
        font-weight: 560;
        line-height: 20.5px;
    }
    .Alpanasap {
        gap: 2px;
    }
    .hero-left {
        gap: 8px;
    }
    .about-img {
        width: 170px;
    }
    .Alpanasap h5 {
        font-size: 15px;
        font-weight: 480;
    }
    .Alpanasap p {
        font-size: 7px;
        font-weight: 350;
    }
    .about-text {
        font-size: 12px;
        font-weight: 450;
    }
    .block {
        width: 300px;
        height: 190px;
        border-radius: 30px;
    }
    .block h1 {
        font-size: 18px;
        font-weight: 460;
    }
    .block p {
        font-size: 10px;
        font-weight: 360;
    }
    .block button {
        width: 120px;
        height: 30px;
        font-size: 10px;
        font-weight: 570;
        border-radius: 10px;
    }
    .subscribe h1 {
        font-size: 20px;
        font-weight: 530;
    }
    .search input {
        width: 180px;
        height: 48px;
        font-size: 9px;
        border-radius: 10px;
    }
    .search input::placeholder {
        font-size: 10px;
        font-weight: 380;
    }
    .search button {
        width: 60px;
        height: 25px;
        font-size: 8px;
        font-weight: 500;
        right: 80px;
        border-radius: 8px;
    }
    #footer {
        padding: 6px 0;
    }
    .footer a {
        font-size: 10px;
        font-weight: 400;
        margin: 0 6px;
    }
    .footer-end button {
        width: 48px;
        height: 18px;
        font-size: 8px;
        font-weight: 460;
        border-radius: 75px;
    }

    #subscribe {
        padding: 50px 0;
    }
    .footer h2 {
        font-size: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 376px) {
    .container {
        width: 90%;
    }
    #header {
        padding: 4px 0;
    }
    .header h2 {
        font-size: 8px;
        font-weight: 550;
    }
    .header a {
        font-size: 6px;
        font-weight: 350;
        margin: 1px 3px;
    }
    .header-end button {
        width: 29px;
        height: 12px;
        font-size: 6px;
        font-weight: 240;
        border-radius: 8px;
    }
    .frist-btn {
        width: 60px;
        height: 12px;
        font-size: 6px;
        font-weight: 240;
        border-radius: 5px;
    }
    .hero-left h1 {
        font-size: 20px;
        font-weight: 600px;
        line-height: 18.5px;
        letter-spacing: 1px;
    }
    .hero-left p {
        font-size: 7px;
        font-weight: 370;
        line-height: 10.5px;
    }
    .second-btn {
        width: 50px;
        height: 18px;
        font-size: 6px;
        font-weight: 470;
        border-radius: 7px;
    }
    .hero img {
        width: 180px;
    }
    .avatar {
        width: 30px;
        height: 30px;
    }
    .avatar img {
        width: 93%;
    }
    .about-info {
        margin-left: 18px;
        gap: 10px;
    }
    .stars img {
        width: 15px;
    }
    .about-info h1 {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.5px;
    }
    .Alpanasap {
        gap: 5px;
    }
    .hero-left {
        gap: 10px;
    }
    .about-img {
        width: 160px;
    }
    .Alpanasap h5 {
        font-size: 18px;
        font-weight: 480;
    }
    .Alpanasap p {
        font-size: 6px;
        font-weight: 300;
    }
    .about-text {
        font-size: 10px;
        font-weight: 400;
    }
    .block {
        width: 290px;
        height: 180px;
        border-radius: 20px;
    }
    .block h1 {
        font-size: 15px;
        font-weight: 460;
    }
    .block p {
        font-size: 10px;
        font-weight: 360;
    }
    .block button {
        width: 100px;
        height: 25px;
        font-size: 10px;
        font-weight: 570;
        border-radius: 8px;
    }
    .subscribe h1 {
        font-size: 15px;
        font-weight: 530;
    }
    .search input {
        width: 170px;
        height: 45px;
        font-size: 9px;
        border-radius: 10px;
    }
    .search input::placeholder {
        font-size: 9px;
        font-weight: 380;
    }
    .search button {
        width: 50px;
        height: 22px;
        font-size: 8px;
        font-weight: 500;
        right: 80px;
        border-radius: 8px;
    }
    #footer {
        padding: 5px 0;
    }
    .footer a {
        font-size: 8px;
        font-weight: 300;
        margin: 0 5px;
    }
    .footer-end button {
        width: 40px;
        height: 15px;
        font-size: 8px;
        font-weight: 460;
        border-radius: 10px;
    }

    #subscribe {
        padding: 40px 0;
    }
    .footer h2 {
        font-size: 8px;
        padding-right: 8px;
    }
}
@media (max-width: 320px) {
    .container {
        width: 90%;
    }
    #header {
        padding: 3px 0;
    }
    .header h2 {
        font-size: 6px;
        font-weight: 550;
    }
    .header a {
        font-size: 6px;
        font-weight: 350;
        margin: 1px 3px;
    }
    .header-end button {
        width: 29px;
        height: 12px;
        font-size: 6px;
        font-weight: 240;
        border-radius: 8px;
    }
    .frist-btn {
        width: 55px;
        height: 10px;
        font-size: 5px;
        font-weight: 240;
        border-radius: 5px;
    }
    .hero-left h1 {
        font-size: 17px;
        font-weight: 500px;
        line-height: 15.5px;
    }
    .hero-left p {
        font-size: 4px;
        font-weight: 370;
        line-height: 8.5px;
    }
    .second-btn {
        width: 50px;
        height: 16px;
        font-size: 6px;
        font-weight: 470;
        border-radius: 6px;
    }
    .hero img {
        width: 150px;
    }
    .avatar {
        width: 25px;
        height: 25px;
    }
    .avatar img {
        width: 93%;
    }
    .about-info {
        margin-left: 15px;
        gap: 8px;
    }
    .stars img {
        width: 7px;
    }
    .about-info h1 {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.5px;
    }
    .Alpanasap {
        gap: 4px;
    }
    .hero-left {
        gap: 15px;
    }
    .about-img {
        width: 140px;
    }
    .Alpanasap h5 {
        font-size: 15px;
        font-weight: 480;
    }
    .Alpanasap p {
        font-size: 6px;
        font-weight: 300;
    }
    .about-text {
        font-size: 8px;
        font-weight: 400;
    }
    .block {
        width: 265px;
        height: 170px;
        border-radius: 15px;
    }
    .block h1 {
        font-size: 14px;
        font-weight: 460;
    }
    .block p {
        font-size: 10px;
        font-weight: 360;
    }
    .block button {
        width: 90px;
        height: 22px;
        font-size: 10px;
        font-weight: 570;
        border-radius: 8px;
    }
    .subscribe h1 {
        font-size: 13px;
        font-weight: 530;
    }
    .search input {
        width: 150px;
        height: 45px;
        font-size: 9px;
        border-radius: 10px;
    }
    .search input::placeholder {
        font-size: 8px;
        font-weight: 380;
    }
    .search button {
        width: 45px;
        height: 20px;
        font-size: 8px;
        font-weight: 500;
        right: 60px;
        border-radius: 7px;
    }
    #footer {
        padding: 4px 0;
    }
    .footer a {
        font-size: 8px;
        font-weight: 300;
        margin: 0 5px;
    }
    .footer-end button {
        width: 38px;
        height: 14px;
        font-size: 8px;
        font-weight: 460;
        border-radius: 8px;
    }

    #subscribe {
        padding: 30px 0;
    }
    .footer h2 {
        font-size: 6px;
        padding-right: 6px;
    }
}



